//- Footer
    =========================
    This is the footer which is included at the bottom of each page. Add your
    own content here. At the moment it only shows a copyright notice with the
    current year and the site name.
    =========================

//- new Date().getFullYear() displays the current year

footer.footer &copy; #{new Date().getFullYear()} #{sitename}
