//- Header
    =========================
    This is the footer which is included at the top of each page. Add your
    own content here. At the moment it only shows a logo (image added via CSS)
    and the navigation (included as a partial).
    =========================

header.header
    a(href="/").header-logo
        h1=sitename
    
    !=partial("_navigation")
