//- Blog post
    =========================
    This is an example for a blog post. All meta data is defined in _data.json.
    =========================

//- If you want to use mixins, include the mixins file via it's relative path

include ../_includes/_mixins

p Pork belly echo park thundercats pop-up kickstarter etsy. Four loko XOXO single-origin coffee jean shorts, lumbersexual four dollar toast roof party sustainable yuccie small batch gluten-free ennui. Kinfolk seitan actually shabby chic. Poutine health goth vegan thundercats marfa tattooed. Pitchfork meggings selfies, meh kinfolk drinking vinegar etsy raw denim keffiyeh 90's before they sold out put a bird on it farm-to-table. Authentic forage lo-fi before they sold out quinoa. Occupy seitan celiac, church-key beard migas cred polaroid pour-over ugh venmo direct trade.

p Letterpress hammock kombucha biodiesel yuccie, paleo next level fanny pack tumblr mustache semiotics. Polaroid swag mlkshk lo-fi yuccie flannel. Mumblecore distillery tacos, pork belly brooklyn brunch mustache viral +1 meh quinoa before they sold out food truck vice. Cronut put a bird on it poutine, tacos meh intelligentsia wolf chambray. Fashion axe distillery roof party kickstarter photo booth. Taxidermy pinterest semiotics migas brooklyn. Affogato hashtag pinterest, raw denim kitsch lomo biodiesel banjo franzen hoodie vice stumptown keffiyeh try-hard thundercats.

//- Use the image mixin with a file name and a caption

+image("inline.jpg", "Image description")

p Hella tacos small batch, thundercats lo-fi salvia cray narwhal gastropub fap. Lumbersexual farm-to-table sustainable quinoa kickstarter. Slow-carb schlitz letterpress stumptown pork belly, umami vice salvia. Keytar tofu hella, salvia cronut ramps 90's shabby chic. Pabst cronut put a bird on it, jean shorts +1 letterpress keytar crucifix pour-over. Microdosing etsy offal, direct trade hammock polaroid twee four loko. Austin leggings brooklyn raw denim wayfarers.

p Twee gochujang pop-up, farm-to-table flexitarian meditation seitan poutine etsy typewriter banjo letterpress lomo health goth yr. Banjo whatever narwhal mlkshk, farm-to-table roof party butcher kogi lumbersexual. Meggings hella deep v tumblr humblebrag farm-to-table echo park. Chillwave vegan waistcoat, irony tumblr post-ironic ennui ethical godard franzen neutra tofu thundercats butcher. Bespoke freegan narwhal hashtag, ramps hella meh mixtape cred chia whatever. Yr brunch next level, scenester 90's readymade salvia VHS gochujang meh tote bag shoreditch sriracha portland chicharrones. Man bun portland aesthetic single-origin coffee.
